/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
  user-select: none;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 20px;
  background-color: #CBD;
  color: #327;
  border: 2px solid #327;
  font-size: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
.button:active {
  background-color: #DCE;
}

#game {
  position: relative;
  background-color: white;
  width: 800px;
  height: 500px;
  overflow: hidden;
  transform-origin: top left;
}

#scene-preload, #scene-main {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 0; top: 0;
}

/* ################################ */
/* preload scene */

#pane-loading {
  font-size: 30px;
  text-align: center;
}

/* ################################ */
/* main scene */

#scene-main {
  display: none;
}

#pane-main {
  position: absolute;
  left: 0; top: 0;
  width: 800px; height: 380px;
  background: url('img/bg.png');
  overflow: hidden;
}

#pane-flash {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #66000044;
  display: none;
}

#pane-hud {
  position: absolute;
  left: 20px; top: 20px;
  width: 60px; height: 340px;
}

#pane-area {
  position: absolute;
  right: 20px; top: 20px;
  width: 680px; height: 340px;
  perspective: 1000px;
}

#pane-bag {
  position: absolute;
  left: 0; top: 380px;
  width: 800px; height: 120px;
  background: #EEE;
}

#pane-final {
  position: absolute;
  left: 20px; top: 20px;
  display: none;
}

#pane-extra {
  position: absolute;
  right: 20px; top: 280px;
  display: none;
  font-size: 32px;
}

#item-flag {
  position: absolute;
  right: 0; top: 0;
  width: 669px; height: 128px;
  background: url('img/flags.png');
  display: none;
}

#item-balloons {
  position: absolute;
  right: 0; top: 8px;
  width: 265px; height: 323px;
  background: url('img/balloons.png');
  display: none;
}

#item-present {
  position: absolute;
  right: 114px; top: 336px;
  width: 121px; height: 99px;
  background: url('img/present.png');
  display: none;
}

#item-cake {
  position: absolute;
  left: 251px; top: 213px;
  width: 301px; height: 130px;
  background: url('img/cake.png');
  display: none;
}

#item-bird {
  position: absolute;
  right: 25px; top: 125px;
  width: 160px; height: 160px;
  background: url('img/bird.png');
  display: none;
}

/* ################################ */
/* info */

#pane-info {
  position: absolute;
  left: 20px; top: 20px;
  width: 760px; height: 340px;
  background-color: #FEE;
}

.info {
  display: none;
  text-align: center;
}

.info h1 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info p {
  font-size: 36px;
  margin-bottom: 10px;
}

#info-button-line {
  margin-top: 20px;
}

/* ################################ */
/* cards */

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-flipper {
  width: 70px;
  height: 90px;
  margin: 3px;
  transform-style: preserve-3d;
  transition: transform 200ms;
  cursor: pointer;
}
.card-flipper.flip {
  transform: rotateY(180deg);
  cursor: default;
}
.card-flipper.removed {
  cursor: default;
}
.card-flipper.removed .card {
  opacity: 0.2;
}

.card, .card-slot {
  border: 1px solid #200;
  border-radius: 5px;
  width: 70px;
  height: 90px;
  background-color: #FFFFFFCC;
  background-image: url('img/cards.png');
  font-size: 40px;   /* for debug only */
}

.card-front, .card-back {
  position: absolute;
  backface-visibility: hidden;
}
.card-front {
  transform: rotateY(180deg);
}

.card-slot {
  margin: 0;
}
.card-slot.empty {
  border: none;
  background: none;
}

/* ################################ */
/* hud */

#pane-hud {
  font-size: 24px;
}

#pane-hud div {
  text-align: center;
  margin: 10px 0;
}

#hud-pairs, #hud-lives {
  font-size: 42px;
  font-weight: bold;
  border-radius: 25px;
}

/* ################################ */
/* bag */

#pane-bag {
  display: flex;
  padding: 10px 9px;
}

.bag-group {
  margin: 0.5px;
  width: 70px;
}

#pane-bag.final .bag-group .card {
  cursor: pointer;
}

.bag-group .card {
  position: relative;
  margin: 0;
  display: none;
}

.bag-card-2 {
  top: -80px;
}

#pane-extra span {
  padding-right: 10px;
}

/* ################################ */
/* effects */

.confetti {
  position: absolute;
}

.confetti-poop {
  background: url('img/poop.png');
}

.confetti-bird {
  background: url('img/bird.png');
}
