/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
  user-select: none;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  background-color: black;
  height: 100%;
}

button {
  border-radius: 20px;
  background-color: #CBD;
  color: #327;
  border: 2px solid #327;
  font-size: 30px;
  padding: 10px 20px;
}

#game {
  position: relative;
  background-color: white;
  width: 800px;
  height: 500px;
}

#scene-preload, #scene-main {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 0; top: 0;
}

/* ################################ */
/* preload scene */

#pane-loading {
  font-size: 30px;
  text-align: center;
}

/* ################################ */
/* main scene */

#scene-main {
  display: none;
}

#pane-main {
  position: absolute;
  left: 0; top: 0;
  width: 800px; height: 380px;
  background: white;
}

#pane-hud {
  position: absolute;
  left: 720px; top: 20px;
  width: 60px; height: 340px;
}

#pane-area {
  position: absolute;
  left: 20px; top: 20px;
  width: 680px; height: 340px;
}

#pane-bag {
  position: absolute;
  left: 0; top: 380px;
  width: 800px; height: 120px;
  background: #EEE;
}

#pane-final {
  position: absolute;
  left: 20px; top: 20px;
  display: none;
}

#pane-extra {
  position: absolute;
  right: 20px; top: 280px;
  display: none;
  font-size: 32px;
}

/* ################################ */
/* info */

#pane-info {
  position: absolute;
  left: 20px; top: 20px;
  width: 760px; height: 340px;
  background-color: #FEE;
}

.info {
  display: none;
  text-align: center;
}

.info h1 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info p {
  font-size: 36px;
  margin-bottom: 10px;
}

#info-button-line {
  margin-top: 20px;
}

/* ################################ */
/* cards */

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card, .card-slot {
  border: 1px solid #200;
  border-radius: 5px;
  width: 60px;
  height: 80px;
  margin: 10px;
  background-image: url('img/cards.png');
  font-size: 40px;   /* for debug only */
}

.card.removed {
  background-image: none;
  border: 1px solid #AAA;
}

.card-slot {
  margin: 5px;
}
.card-slot.empty {
  border: none;
  background: none;
}

/* ################################ */
/* hud */

#pane-hud {
  font-size: 24px;
}

#pane-hud div {
  text-align: center;
  margin: 5px 0;
}

#hud-pairs, #hud-odds, #hud-lives {
  font-size: 42px;
  font-weight: bold;
}

/* ################################ */
/* bag */

#pane-bag {
  display: flex;
  padding: 10px 10px;
}

.bag-group {
  margin: 5px;
  width: 60px;
}

.bag-group .card {
  position: relative;
  margin: 0;
  display: none;
}

.bag-card-2 {
  top: -70px;
  left: 5px;
}
